/* #home{
    background: url(images/Bg1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
} */

body{ /* Noto 400 */
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

main{
    padding-left: 2rem;
    padding-right: 2rem;
}

footer{
    background: url(images/miz2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

footer span:hover{
    font-size: 2rem;
}

#home-m{
    min-height: 75vh;
}

#home{
    background-image: url(images/Field.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    color: white;
    font-weight: 600;
}

/* ********************* ABOUT ********************* */
#profile{
    height: 20%;
    width: 20%;
    border-radius: 50%;
    border: 2px solid #d00000;
    margin: 0 auto;
    object-fit: cover;
}

.intro-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    
}

#about{
    margin-top: .5rem;
    padding-top: 1rem;
}

.bio-section{
    display: flex;
    align-items: center;
    background-color: #edeeef;
    padding: 2rem;
}

.bio{
    margin-left: 2rem;
    padding: 1rem;
    width: 70%;
}

.secondary-info{
    flex: 1;
    padding: 1rem;
}

#print{
    display: none;
}

.print-info{
    display: none;
}

@media only screen and (max-width: 740px){
    .bio-section{
        flex-direction: column;
    }
    .bio{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #profile{
        margin: 0;
        height: 100%;
        width: 100%;
        margin-bottom: 2rem;
    }
    .secondary-info{
        padding: 0;
    }
}

@media print{
    body{
        color: black;
        margin: 1in;
        font-size: 12px;
        padding: 0;
    }
    header{
        display: none;
    }
    .intro-container{
        padding: 0;
    }

    .bio-section{
        flex-direction: column;
    }
    .bio{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #profile{
        height: 40%;
        width: 40%;
    }
    .secondary-info{
        padding: 0;
    }

    #abouth3{
        display: none;
    }
    
    #print{
        display: inline-block;
        color: black;
    }
    .secondary-info{
        display: none;
    }

    .print-info{
        display: block;
    }
}   


/* ===================== PROJECTS ================== */
.heading{
    justify-content: center;
    text-align: center;
}
.project_container{
    display: flex;
    flex-direction: row;
}

.p_box{
    margin: 1rem;
}

.p_img{
    padding: 5rem;
    justify-content: center;
    text-align: center;
    color: white;
}

.p_desc{
    /* padding: .5rem; */
}

#cpp{
    background-image: url(images/Bg1.JPG);
}

#dij{
    background-image: url(images/Bg1.JPG);
}

#adv_g{
    background-image: url(images/P1.PNG);
}

@media only screen and (max-width: 768px) {
    .project_container{
        flex-direction: column;
    }
}

/* ==================== TABLE STYLES ============= */



tbody {
    background-color: #e4f0f5;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption{
    caption-side: bottom;
    padding: 10px;
    background-color: #353738;
}

th, td {
    border: 1px solid rgb(160 160 160);
    padding: 8px 10px;
}

td {
    text-align: center;
}
  
tr:nth-child(even) {
    background-color: #444444;
}
  
tr:nth-child(odd) {
    background-color: #ffffff;
    color: black;
}

thead {
    background-color: #353738;
    color: #fff;
}

@media screen and (max-width: 600px) {
    table, caption, thead, tbody, th, td, tr {
      display: block;
    }
    
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
    tr {
      margin-bottom: 10px;
    }
    
    td {
      border: none;
      position: relative;
      padding-left: 50%;
    }
    
    td:before {
      position: absolute;
      top: 6px;
      left: 6px;
      width: 45%;
      padding-right: 10px;
      white-space: nowrap;
      content: attr(data-label);
      font-weight: bold;
    }
    
    /* Specific styling for your table structure */
    tbody tr td:nth-of-type(1):before { content: "Criteria"; }
    tbody tr td:nth-of-type(2):before { content: "Full Points"; }
    tbody tr td:nth-of-type(3):before { content: "No Points"; }
}


.form_c{
    background-color: #edeeef;
    padding: 2rem;
    width: 40%;
    margin: auto;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

input{
    width: 95%;
    margin-bottom: 1rem;
}

#message{
    height: 3rem;
}


@media only screen and (max-width: 768px){
    .form_c{
        width: 80%;
    }
}

@media only screen and (max-width: 425px){
    .form_c{
        width: 100%;
        padding: 0;
    }

    .input{
        width: 100%;
    }

    form{
        padding: 10px;
    }
    
    #formname{
        padding-top: 5px;
        text-align: center;
    }


}

#smal-div{
    background-color: #edeeef;
    color: black;
    padding: 1rem;
    margin-bottom: 10px;
}