/* #home{
    background: url(images/Bg1.JPG);
    background-repeat: no-repeat;
    background-size: cover;
} */

body{ /* Noto 400 */
    font-family: "Noto Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
      padding-left: 2rem;
      padding-right: 2rem;
}

/* Assignment Styling */
h1{
    color: #a52a2a;
}

#letter{
    font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
}



/* ********************* ABOUT ********************* */
#profile{
    height: 20%;
    width: 20%;
    border-radius: 50%;
    border: 2px solid #d00000;
    margin: 0 auto;
    object-fit: cover;
}

.intro-container{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
}

.bio-section{
    display: flex;
    align-items: center;
}

.bio{
    margin-left: 2rem;
    padding: 1rem;
    width: 70%;
}

.secondary-info{
    flex: 1;
    padding: 1rem;
}

#print{
    display: none;
}

.print-info{
    display: none;
}

@media only screen and (max-width: 740px){
    .bio-section{
        flex-direction: column;
    }
    .bio{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #profile{
        margin: 0;
        height: 100%;
        width: 100%;
        margin-bottom: 2rem;
    }
    .secondary-info{
        padding: 0;
    }
}

@media print{
    body{
        color: black;
        margin: 1in;
        font-size: 12px;
        padding: 0;
    }
    header{
        display: none;
    }
    .intro-container{
        padding: 0;
    }

    .bio-section{
        flex-direction: column;
    }
    .bio{
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #profile{
        height: 40%;
        width: 40%;
    }
    .secondary-info{
        padding: 0;
    }

    #abouth3{
        display: none;
    }
    
    #print{
        display: inline-block;
        color: black;
    }
    .secondary-info{
        display: none;
    }

    .print-info{
        display: block;
    }
}   